#c2d {
    /* 9:16 vertical aspect ratio, fitted to viewport height */
    width: auto;
    height: 100vh;
    aspect-ratio: 9/16;
    position: absolute;
    image-rendering: pixelated; /* You definitely want this if you are doing pixel art */
    image-rendering: crisp-edges;
}

/* Get rid of any margins, set background black, use flexbox to center */
html, body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}